@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
}
main {
  display: flex;
}
.selected {
  color: black !important;
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
}
.hidden {
  visibility: hidden;
}

#NavBar {
  width: 62px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: solid 2px rgb(229, 228, 228);
}
#NavBar .fa-solid {
  color: rgb(101, 102, 106);
  width: 32px;
  height: 32px;
  font-size: 30px;
  padding: 8px;
  margin: 10px 0 0 8px;
}
#NavBar .fa-solid:hover {
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
  cursor: pointer;
}
#NavBar img {
  user-select: none;
  display: flex;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#ChatMenu {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  border-right: solid 2px rgb(229, 228, 228);
}
#ChatMenu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
#ChatMenu .title h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  margin: 0 0 0 15px;
}
#ChatMenu .title .fa-solid {
  padding: 10px;
  background-color: rgb(244, 244, 245);
  color: rgb(4, 4, 5);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#ChatMenu .title .fa-solid:hover {
  background-color: rgb(232, 233, 233);
}
#searchChat {
  background-color: rgb(244, 244, 245);
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 100px;
  margin: 0 0 0 15px;
  padding: 0 0 0 40px;
  font-size: 15px;
}
#ChatMenu .searchChat .fa-solid {
  position: absolute;
  top: 70px;
  left: 92px;
  color: rgba(194, 195, 197, 255);
  font-size: 18px;
}
#ChatMenu .chatList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 15px 0 0 0;
  overflow-y: scroll;
}
#ChatMenu .chatList .chatSelection {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  width: 95%;
  height: 70px;
  cursor: pointer;
}
#ChatMenu .chatList .chatSelection:hover {
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
}
#ChatMenu .chatList .chatSelection .text h1 {
  font-size: 15px;
  margin: 15px 0 -10px 0;
}
#ChatMenu .chatList .chatSelection .text p {
  color: rgb(101, 103, 107);
  font-size: 14px;
  font-weight: 200;
}
#ChatMenu .chatList .chatSelection img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 12px;
}
#Chat {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  height: 100vh;
}
#Chat div.title {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
  border-bottom: solid 2px rgb(229, 228, 228);
}
#Chat div.title img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
#Chat div.title p {
  position: relative;
  left: 6px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
#Chat div.title .fa-solid {
  color: rgb(74, 204, 214);
  font-size: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
#Chat div.title .fa-solid:hover {
  background: rgb(244, 244, 244);
}
#Chat .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  overflow-y: scroll;
}
#Chat .content img {
  margin: 40px 0 -5px 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
#Chat .content h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#Chat .content .datetime {
  color: rgb(101,102,106);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
#Chat .content .leftMessage {
  display: flex;
  align-items: center;
  margin-right: auto; /* Forcer l'alignement à gauche */
}
#Chat .content .leftMessage img {
  width: 30px;
  height: 30px;
  margin: 3px 10px 3px 10px;
}
#Chat .content .leftMessage p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240,241,241);
  height: 30px;
  padding: 2px 15px 2px 15px;
  border-radius: 50px;
  margin: 0;
}
#Chat .content .rightMessage {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 1px 10px 1px auto;
  color: white;
  background: rgb(38,119,224);
  border-radius: 50px;
  padding: 1px 15px 1px 15px;
}
#Chat .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  padding: 10px;
}
#Chat .input .fa-regular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: rgb(55,82,232);
  font-size: 18px;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}
#Chat .input .fa-regular:hover {
  background-color: rgb(242,242,242)
}
#Chat .input input {
  background-color: rgb(244, 244, 245);
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 100px;
  padding: 0 0 0 12px;
  font-size: 15px;
}
#Chat .input p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}
#Chat .input p:hover {
  background-color: rgb(242,242,242)
}