@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
main {
  display: flex;
}
.selected {
  color: black !important;
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
}
.hidden {
  display: none !important;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

#NavBar {
  width: 62px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: solid 2px rgb(229, 228, 228);
}
#NavBar .fa-solid {
  color: rgb(101, 102, 106);
  width: 32px;
  height: 32px;
  font-size: 30px;
  padding: 8px;
  margin: 10px 0 0 8px;
}
#NavBar .fa-solid:hover {
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
  cursor: pointer;
}
#NavBar img {
  display: flex;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}
#ProfileMenu {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  position: fixed;
  border-radius: 10px;
  left: 10px;
  bottom: 60px;
  width: 350px;
  height: auto;
}
#ProfileMenu .button {
  border-radius: 5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  transition: filter 0.2s;
}
#ProfileMenu .button:hover {
  transition: filter 0.1s;
  filter: brightness(0.95);
}
#ProfileMenu .arrow {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.025);
  position: absolute;
  left: 15px;
  bottom: -7px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 14px 14px 0 0px;
  border-end-end-radius: 5px;
  border-color: transparent white;
  transform: rotate(45deg);
}
#ProfileMenu .button .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(20, 20, 20);
  background: rgb(244, 244, 245);
  border-radius: 50%;
  height: 25px;
  margin: 0 10px;
  padding: 2px;
}
#ProfileMenu .button a {
  text-decoration: none;
  color: black;
  width: 100%;
}

#ChatMenu {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  border-right: solid 2px rgb(229, 228, 228);
}
#ChatMenu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
#ChatMenu .title h1 {
  font-size: 28px;
  margin: 0 0 0 15px;
}
#ChatMenu .title .fa-solid {
  padding: 10px;
  background-color: rgb(244, 244, 245);
  color: rgb(4, 4, 5);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#ChatMenu .title .fa-solid:hover {
  background-color: rgb(232, 233, 233);
}
#searchChat {
  background-color: rgb(244, 244, 245);
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 100px;
  margin: 0 0 0 15px;
  padding: 0 0 0 40px;
  font-size: 15px;
}
#ChatMenu .searchChat .fa-solid {
  position: absolute;
  top: 70px;
  left: 92px;
  color: rgba(194, 195, 197, 255);
  font-size: 18px;
}
#ChatMenu .chatList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 15px 0 0 0;
  overflow-y: scroll;
}
#ChatMenu .chatList .chatSelection {
  display: flex;
  align-items: center;
  width: 95%;
  height: 70px;
  user-select: none;
  cursor: pointer;
}
#ChatMenu .chatList .chatSelection:hover {
  background-color: rgb(244, 244, 245);
  border-radius: 8px;
}
#ChatMenu .chatList .chatSelection .text h1 {
  font-size: 15px;
  margin: 12px 0 -12px 0;
}
#ChatMenu .chatList .chatSelection .text p {
  overflow: hidden;
  width: 180px;
  height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(101, 103, 107);
  font-size: 14px;
  font-weight: 200;
}
#ChatMenu .chatList .chatSelection img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 12px;
}
#Chat {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  height: 100vh;
}
#Chat div.title {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
  border-bottom: solid 2px rgb(229, 228, 228);
}
#Chat div.title img.profilePicture {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
#Chat div.title p {
  position: relative;
  left: 6px;
  font-size: 14px;
  font-weight: 600;
}
#Chat div.title .fa-solid {
  color: rgb(74, 204, 214);
  font-size: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
#Chat div.title .fa-solid:hover {
  background: rgb(244, 244, 244);
}
#Chat .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  overflow-y: scroll;
}
#Chat .content img {
  margin: 40px 0 -5px 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
#Chat .content h1 {
  font-weight: 600;
  font-size: 16px;
}
#Chat .content .datetime {
  color: rgb(101, 102, 106);
  font-weight: 600;
  font-size: 12px;
}
#Chat .content .messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
#Chat .content .leftMessage {
  display: flex;
  align-items: center;
  margin-right: auto; /* Forcer l'alignement à gauche */
}
#Chat .content .leftMessage img {
  width: 30px;
  height: 30px;
  margin: 3px 10px 3px 10px;
}
#Chat .content .leftMessage p {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 241, 241);
  height: 30px;
  padding: 2px 15px 2px 15px;
  border-radius: 50px;
  margin: 0;
}
#Chat .content .rightMessage {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 1px 10px 1px auto;
  color: white;
  background: rgb(38, 119, 224);
  border-radius: 50px;
  padding: 1px 15px 1px 15px;
}
#Chat .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  padding: 10px 0 10px 0;
}
#Chat .input .fa-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: rgba(10, 125, 254, 255);
  font-size: 18px;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}
#Chat .input .fa-regular:hover {
  background-color: rgb(242, 242, 242);
}
#Chat .input input {
  background-color: rgb(244, 244, 245);
  height: 35px;
  flex: 1;
  border: none;
  border-radius: 100px;
  padding: 0 0 0 12px;
  font-size: 15px;
  outline: none;
}
#Chat .input .fa-paper-plane-top,
#Chat .input .fa-thumbs-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
  color: rgb(15, 118, 244);
}
#Chat .input .fa-paper-plane-top:hover,
#Chat .input .fa-thumbs-up:hover {
  background-color: rgb(242, 242, 242);
}

.error {
  background: rgb(256, 172, 164);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  padding: 20px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.success {
  z-index: 1;
  background: #a5feac;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  padding: 20px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.progress-bar {
  position: absolute;
  left: 0.1px;
  right: 0;
  bottom: 0;
  height: 5px;
  background: #2f78ff;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

#NoConvOpen {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#NoConvOpen img {
  width: 100px;
  height: 100px;
}

#NewMessage {
  font-size: 17px;
  position: relative;
  flex: 1;
}
#NewMessage form {
  display: flex;
  align-items: center;
  border-bottom: solid 2px rgb(229, 228, 228);
}
#NewMessage form p {
  margin-left: 15px;
}
#NewMessage form input[type="text"] {
  position: absolute;
  left: 45px;
  right: 10px;
  padding: 0;
  font-size: 17px;
  height: 20px;
  outline: none;
  border: none;
}
#NewMessage .searchResult {
  user-select: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 45px;
  background: white;
  width: 350px;
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
  border-radius: 10px;
  padding-top: 10px;
}
#NewMessage .searchResult .user {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border-radius: 10px;
}
#NewMessage .searchResult .user:hover {
  background: rgba(242, 242, 242, 255);
}
#NewMessage .searchResult .user img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin: 0 10px 0 10px;
}
#NewMessage .searchResult .user p {
  font-size: 15px;
  margin: 15px 0 15px 0;
}

#ChatMenu .chatList .newChat {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  width: 95%;
  height: 70px;
  cursor: pointer;
}
#ChatMenu .chatList .newChat .text h1 {
  font-size: 15px;
}
#ChatMenu .chatList .newChat img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 12px;
}
#ChatMenu .chatList .newChat .fa-xmark {
  color: rgba(96, 99, 103, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  border-radius: 50px;
}
#ChatMenu .chatList .newChat .fa-xmark::before {
  font-size: 12px;
}
#ChatMenu .chatList .newChat .fa-xmark:hover {
  background-color: rgba(233, 232, 233, 255);
}
